.core {
  display: flex;
  background-color: $mc_gray;
  border-radius: r(8);
  filter: drop-shadow(r(4) r(4) r(4) rgba(33, 33, 33, 0.1));
  height: r(136);
}

.name {
  text-shadow: r(4) r(4) r(4) rgba(33, 33, 33, 0.1);
  margin-bottom: r(12);
  text-transform: capitalize;
  font-weight: 600;
}

.info {
  width: r(120);
  padding-top: r(5);
  padding-bottom: r(10);
  padding-left: r(28);
  position: relative;
}

.stats {
  margin-bottom: r(8);
}

.stats,
.labels {
  display: flex;
}

.stat,
.label {
  &:not(:last-child) {
    margin-right: r(12);
  }
}

.preview {
  width: calc(100% - 7.5rem);
  border-radius: 0 r(8) r(8) 0;
}

.img {
  width: 60%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}
