// Main colors
$mc_third: #f5db13;
$mc_primary: #f2b807;
$mc_second: #f28f16;
$mc_danger: #d93e30;
$mc_white: #f2f2f2;
$mc_dark: #212121;
$mc_black: #000;

// Additionals colors
$ac_stile: #a1a1a1;
$ac_dark: #a1a1a1;
$ac_rock: #a1a1a1;

$ac_grass: #70a83b;
$ac_bug: #70a83b;

$ac_ice: #a2cff0;
$ac_water: #a2cff0;

$ac_fire: #f76545;
$ac_fighting: #f76545;
$ac_dragon: #f76545;

$ac_yellow: #f2cb07;
$ac_green: #73d677;

$ac_normal: #76aadb;
$ac_gosth: #76aadb;

$ac_posion: #a974bc;
$ac_psychic: #a974bc;
$ac_fairy: #a974bc;
$ac_ghost: #a974bc;

$ac_ground: #9b897b;

$ac_electric: #f7c545;

// Font size

$h1: r(72);
$h2: r(64);
$h3: r(36);
$h4: r(24);
$h5: r(18);
$h6: r(12);
$font_size_base: r(16);
