* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.4;
  color: $mc_dark;
  font-size: $font_size_base;
  font-family: Karla, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-width: 0;
  background-color: transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}
