.core {
  display: block;
  margin-top: r(73);
}

.cards {
  @include anim(opacity);
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2.125rem);
  margin-left: r(-17);
  margin-top: r(52);

  &.overlay {
    position: relative;
    opacity: 0.5;
  }
}

.card {
  width: calc(33.333% - 2.125rem);
  margin-left: r(17);
  margin-right: r(17);
  margin-bottom: r(45);
}

.errorImg {
  margin-top: r(60);
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
