.core {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.color {
  background-color: $mc_third;
  background-image: linear-gradient(180deg, $mc_third 0%, $mc_primary 100%);
}

.white {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
}
